[Unit]
Description=Nowhere Ear

[Service]
WorkingDirectory=/home/pi/nowhere-ear/
ExecStart=/home/pi/nowhere-ear/start.sh
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
