[Unit]
Description=Nowhere Ear

[Service]
WorkingDirectory=/home/kat/universal-ear/
ExecStart=/home/kat/universal-ear/start.sh
Restart=on-failure
User=kat

[Install]
WantedBy=multi-user.target
