html,
body {
  /* background: black; */
  margin: 0;
  padding: 0;
}

html {
  size: 1.3vh;
}

h5 {
  color: #ddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  width: 100vw;
  display: inline-flex;
}
