html,
body {
  /* background: black; */
  margin: 0;
  padding: 0;
}

html {
  size: 1.3vh;
}

h5 {
  color: #ddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  position: absolute;
  top: 0;
}

.buttons-are-cool {
  bottom: 20px;
  position: absolute;
}

.button {
  height: 4vh;
  width: 10vw;
  padding: 0.35em 1.2em;
  border: 0.2em solid teal;
  margin: 0.2em 0.3em 0.5em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color:black;
  text-align:center;
  transition: all 0.2s;
}
